body {
    margin: 0 auto;
    width: 550px;
    background-color: #ECFDF5;
    font-family: "Karla", sans-serif;
}

h1 {
    color: #1C1C1C;
    font-weight: 800;
    line-height: 40px;
    font-size: 40px;
    margin-top: 115px;
    margin-bottom: 10px;
}

span {
    color: #10B981;
}

h2 {
    color: #6B7280;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 35px;
}

button {
    background-color: #10B981;
    color: #fff;
    border: 0;
    border-radius: 6px;
    width: 220px;
    padding: 15px;
    font-size: 20px;
    /* margin: 25px 0 35px; */
    cursor: pointer;
}

.inputs-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.range-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6B7280;
    font-size: 20px;
    margin: 25px 0 35px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#range-length {
    appearance: none;
    cursor: pointer;
    width: 250px;
    border: none;
    background-color: #6B7280;
}

#range-length::-webkit-slider-thumb {
    appearance: none;
    background: #10B981;
    cursor: pointer;
    width: 25px;
    height: 25px;

}

p {
    background-color: #273549;
    color: #5DEF92;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    width: 210px;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}