body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #c7f9cc;
    color: #2b2839;
    border-top: 10px double #57cc99;
    box-shadow: 10px 10px 5px #22577a;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}